
body { background : #003300 }
a:link { color: #bb0000; background: transparent }
a:visited { color: #bb3300; background: transparent }
a.title:link { color: #ff0033; background: transparent; text-decoration: none }
a.title:visited { color: #eecc66; background: transparent; text-decoration: none }

/* Basic p */
p {
 text-indent: 1em;
 font-family: "Georgia", "Times New Roman", serif;
 color: #000000;
 background: transparent;
 font-size: 12pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }

/* Path to the document */
p.title { 
 color: #f0f000;
 text-indent: 0em;
 font-weight: bold;
 text-align: left;
 margin: 1%;
 font-family : "Arial", sans-serif;
 font-size: 9pt;  
 }
 
/* For the border effect */
div.border {
	border-style: double;
	background: #ffffff; 
	width: 93%; 
	padding: 1em; 
	border: 0.5em solid #eecc00;
	}
	

img.right { float: right; margin: 2em; }
img.left { float: left; margin: 2em; }

hr.section { width: 44%; height: 4px; color: #003300 }
hr.base { width: 92%; height: 1px; color: #00000 }
hr.end { width: 92%; height: 2px; color: #003300 }
hr { width: 94%; height: 2px; color: #003300 }

em { word-spacing: 0.2em }
blockquote { margin-left: 5% }


/* =====================================*/
/* Document Headers					    */
/* =====================================*/

/* Document Title */
H1 {
 background: transparent;
 color: #003300;
 font-weight: bold; 
 font-size: xx-large; 
 font-family:  "Georgia", "Times New Roman", serif;
 text-align: center; 
 margin-left: 36px;
 margin-right: 36px;
 }

/* Authors' name */
H2 { 
 background: transparent;
 color: #cc0000;
 font-weight: bold; 
 font-size: 28pt; 
 line-height: 150%;
 font-family: "Helvetica", "Arial", sans-serif;
 text-align: center; 
 }

/* Chapter Title */
H3 {
 background: transparent;
 color: #c00000; 
 font-weight: bold;
 text-align: center;
 font-family :  "Georgia", "Times New Roman", serif;
 font-size: 22pt; 
 margin-left: 36px;
 margin-right: 36px;
 }
 
/* Section Title */
H4 {
 background: transparent;
 color: #003300; 
 font-weight: bold;
 text-align: center;
 font-family : "Arial", sans-serif;
 font-size: 14pt;  
 line-height: 150%;
 margin-left: 36px;
 margin-right: 36px;
 }
 
/* Sub Section 2 */
H5 {
 background: transparent;
 color: #003300; 
 font-weight: bold;
 text-align: left;
 font-family : "Arial", sans-serif;
 font-size: 14pt;  
 line-height: 175%;
 margin-left: 36px;
 margin-right: 36px;
 }
 
/* Sub Section 3 */
H6 {
 background: transparent;
 color: #006600; 
 font-weight: bold;
 text-align: left;
 font-family : "Arial", sans-serif;
 font-size: 12pt;  
 line-height: 175%;
 margin-left: 24px;
 margin-right: 36px;
 }

 
/* =====================================*/
/* Spanners							    */
/* =====================================*/

/* ~~~~~~~ Footnotes ~~~~~~~~~~~~~~~~~~ */

/* Author's */
sup.anote {
 background: transparent;
 color: #003300; 
 font-family : "Times", serif;
 font-size: small;
 font-weight: bold;
 text-decoration: none;
 }
 
/* Editor's */
sup.ednote {
 background: transparent;
 color: #003300; 
 font-family : "Courier New", monospace;
 font-size: x-small;
 font-weight: normal;
 text-decoration: none;
 }
 
/* Editorial notes in text */
span.inote {
 background: transparent;
 color: #666666; 
 font-family : "Georgia", "Times New Roman", serif;
 font-size: 12pt;
 font-weight: normal;
 }
 
/* ~~~~~~~ Misc ~~~~~~~~~~~~~~~~~~ */

/* Used in the info block */
span.info {
 background: transparent;
 color: #660000; 
 font-family: "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
}

/* indiscreet text (primarily for dates) */
span.date {
 background: transparent;
 color: #333333;
 font-family: "Arial", sans-serif;
 font-size: small;
 font-weight: normal;
 }

/* Used for notes in the text */
span.term {
 background: transparent;
 color: #003300; 
 font-family : "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
}

/* abstracts */
span.context {  background: transparent; color: #999999 }

/*Greek text */
span.greek { font-family: symbol }


 
/* Basic p -- without first line indent */
p.fst {
 text-indent: 0em;
 font-size: 12pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }


/*----------------------------------*/
/* Quote elements 					*/
/*----------------------------------*/

/* Standard Quote */
p.quote { 
 text-indent: 1em;
 font-size: 10pt;
 line-height: 125%;
 text-align: justify;
 margin-left: 12%;
 margin-right: 12%;
}

/* Quote without first line indent */
p.quoteb { 
 text-indent: 0em;
 font-size: 10pt;
 line-height: 150%;
 text-align: justify;
 margin-left: 12%;
 margin-right: 12%;
}

/* Sub Quote C (increased margin) */
p.quotec { 
 text-indent: 0em;
 font-size: 10pt;
 line-height: 150%;
 text-align: justify;
 margin-left: 16%;
 margin-right: 16%;
}

/* Negative indent for number list */
p.quote-list { 
 text-indent: -1em;
 font-size: 10pt;
 line-height: 150%;
 text-align: justify;
 margin-left: 14%;
 margin-right: 14%;
}

/* Citation (Quote citied) */
p.inline {
 background: transparent;
 color: #666666; 
 text-indent: 0em;
 font-family : "Arial", sans-serif;
 font-size: x-small;
 text-align: right;
 margin-left: 20%;
 margin-right: 8%;
 }

 

/*----------------------------------*/
/* Index elements 					*/
/*----------------------------------*/

/* Table of Contents */
p.toc {
 background: transparent;
 color: #003300; 
 text-indent: 0em;
 font-weight: bold;
 font-family : "Helvetica", "Arial", sans-serif;
 font-size: 12pt;
 line-height: 120%;
 text-align: left;
 margin-left: 7%;
 margin-right: 7%;
}

/* Basic Index */
p.index { 
 text-indent: 0em;
 font-family : "Helvetica", "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 line-height: 200%;
 margin-left: 9%;
 margin-right: 9%;
}


/*----------------------------------*/
/* Table elements 					*/
/*----------------------------------*/

/* -- For Numbered Data -- */
/* Example: */
/* http://www.marxists.org/history/ussr/subject/stats/index.htm */

table.data {
 background: #eeeeee;
 font-size: 10pt;
 }

/* Column Headings */ 
td.head {
 background: #999999;
 font-family : "Georgia", "Times New Roman", serif;
 font-weight: bold;
 text-align: center;
 font-size: 12pt;
 }

/* Row Colors */
tr.alt { background: #cccccc; }
tr.total { background: #ffcccc; }
tr.totalb { background: #ff9999; }


/* -- For Book Indexes -- */
/* Example: */
/* http://www.marxists.org/archive/lenin/works/1917/sep/statrev/index.htm */

td.index {
 background: #efefef;
 color: #999999; 
 text-indent: 0em;
 font-family : "Helvetica", "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 }
 
/* Every alternate row */
td.index-alt {
 background: #ffffff;
 color: #999999; 
 text-indent: 0em;
 font-family : "Helvetica", "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 }
 
/* Sub-Chapters */
td.indexb {
 background: #ffffff;
 color: #999999; 
 text-indent: 0em;
 font-family : "Helvetica", "Arial", sans-serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: left;
 }

/* Describes the chapter (as seen in the History, Subject indexes, etc) */
td.note {
 background: #ffffff;
 color: #444444; 
 font-family : "Arial", sans-serif;
 font-size: small;
 vertical-align: top;
 text-align: justify;
 line-height: 115%;
 margin-left: 10%;
 margin-right: 10%;
 }

/*----------------------------------*/
/* Indented Text                    */
/*----------------------------------*/

/* Standard Indent */
p.indent { 
 text-indent: 1em;
 font-size: 12pt;
 line-height: 150%;
 text-align: justify;
 margin-left: 12%;
 margin-right: 12%;
}

/* Indent without first line indent */
p.indentb { 
 text-indent: 0em;
 font-size: 12pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 12%;
 margin-right: 12%;
}

/* Sub Indent C (increased margin) */
p.indentc { 
 text-indent: 0em;
 font-size: 12pt;
 text-align: justify;
 margin-left: 16%;
 line-height: 150%;
 margin-right: 16%;
}

/* Negative indent for number list */
p.indent-list { 
 text-indent: -1em;
 font-size: 12pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 12%;
 margin-right: 12%;
}
 
ul.disc { 
 font-family: "Georgia", serif;
 font-size: 12pt;
 list-style-type: disc; 
 text-align: left;
 line-height: 130%;
 margin-left: 6%;
 margin-right: 6%;
}

ol.numbered { 
 font-family: "Georgia", serif;
 font-size: 12pt;
 list-style-type: decimal; 
 text-align: left;
 line-height: 130%;
 margin-left: 6%;
 margin-right: 6%;
}

/* Document Bibliographical Informaiton */
p.information { 
 background: transparent;
 color: #660000; 
 text-indent: 0em; 
 font-size: 12pt; 
 line-height: 125%;
 text-align: left;
 margin-right: 8%; 
 margin-left: 8% 
 }

/* Signature */
p.sig {  
 text-indent: 0em; 
 font-family : "Vivaldi", "Lucida Handwriting", "Brush Script MT", script, serif;
 font-size: 12pt; 
 font-weight: bold;
 font-style: italic;
 line-height: 125%;
 text-align: left; 
 margin-left: 8% 
 }
  
sup {
 font-family : "Arial", monospace;
 font-size: x-small;
 font-weight: normal;
 }
 
sub {
 font-family : "Arial", monospace;
 font-size: x-small;
 font-weight: normal;
 }
 
/* Misc page note */
p.pagenote {
 background: transparent;
 color: #003300; 
 font-family : "Arial", sans-serif;
 font-size: x-small;
 text-align: center;
 margin-left: 6%;
 margin-right: 6%;
 }
 
/* Misc page note (justified) */
p.pagenoteb {
 background: transparent;
 color: #666666; 
 font-family : "Arial", sans-serif;
 font-size: x-small;
 text-align: justify;
 line-height: 115%;
 margin-left: 10%;
 margin-right: 10%;
 }
 
/* For blank spaces */
p.skip { line-height: 75% }
 
 
/*----------------------------------*/
/* Page-ending elements             */
/*----------------------------------*/

/* Next Section-Chapter of work */
p.next { 
 text-indent: 0em;
 font-family : "Arial", sans-serif;
 font-size: 14pt;
 font-weight: bold;
 text-align: center;
 line-height: 125%;
 }
 
/* Page bottom links */
p.footer {  
 text-indent: 0em; 
 font-weight: bold;
 font-family : "Arial", sans-serif;
 font-size: 12pt; 
 text-align: center; 
 margin: 3%;
 }

/* =====================================*/
/* End of elements             		    */
/* =====================================*/
/* =====================================*/
/* Adjustments for Mobile Devices       */
/* =====================================*/

@media (max-width: 480px) {
  p { font-size: 12pt; margin-left: 1%; margin-right: 1%; margin-bottom: 4pt; margin-top: 4pt; line-height: 125%; }
  blockquote {margin-left: 1%; margin-right: 1%; }
  p.title { font-size: 11pt; }
  p.indentb { margin-left: 6%; margin-right: 1%; }
  p.quoteb { margin-left: 6%; margin-right: 1%; }
  p.index { margin-left: 6%; margin-right: 1%; }
  h1 { font-size: 16pt; }
  h2 { font-size: 15pt; }
  h3 { font-size: 14pt; }
  h4 { font-size: 13pt; }
  h5 { margin-left: 1%; }
  h6 { margin-left: 1%; }
  img { width: 150px; height: auto; }
  img.auto {width: auto ; height: auto; }
  div.border { width: 95%; padding: 0.5em; border: 0.2em solid #eecc00; }
}
