body { background : #660000 }
a:link { color: #990000; background: transparent }
a:visited { color: #993333; background: transparent }
a.title:link { color: #FFCC00; background: transparent; text-decoration: none }
a.title:visited { color: #CC9900; background: transparent; text-decoration: none }
a.mecw:link {color: #aaaaaa; background: transparent; text-decoration: none }
a.mecw:visited {color: #999999; background: transparent; text-decoration: none }


div.border {
	border-style: double;
	background: #ffffff; 
	width: 93%; 
	padding: 1em; 
	border: 0.5em solid #ffcc33;
	}

	/* Basic p */

p {
 text-indent: 1em;
 font-family: "Georgia", serif;
 color: #000000;
 background: transparent;
 font-size: 12pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }

 
/* Path to the document */
p.title { 
 color: #ffcc00;
 text-indent: 0em;
 font-weight: bold;
 text-align: left;
 margin: 1%;
 font-family : "Arial", sans-serif;
 font-size: 9pt;  
 }

img.right { float: right; margin: 2em; }
img.left { float: left; margin: 2em; }

hr.section { width: 44%; height: 4px; color: #330000; }
hr.base { width: 92%; height: 1px; color: #000000; }
hr.end { width: 92%; height: 2px; color: #330000; }
hr { width: 94%; height: 2px; color: #330000; }

em { word-spacing: 0.2em }
blockquote { margin-left: 5% }


/* Document Title */
H1 {
 background: transparent;
 color: #330000;
 font-weight: bold; 
 font-size: xx-large; 
 font-family:  "Times New Roman", serif;
 text-align: center; 
 }


/* Authors' name */
H2 { 
 background: transparent;
 color: #330000;
 font-weight: bold; 
 font-size: large; 
 line-height: 150%;
 font-family: "Helvetica", "Arial", sans-serif;
 text-align: center; 
 }

/* Chapter Title */
H3 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 text-align: center;
 font-family :  "Georgia", serif;
 font-size: 22pt; 
 margin-left: 36px;
 margin-right: 36px;
 }

/* Section Title */
H4 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 text-align: center;
 font-family : "Arial", sans-serif;
 font-size: 14pt;  
 line-height: 150%;
 margin-left: 36px;
 margin-right: 36px;
 }

 
/* Sub Section 2 */
H5 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 text-align: center;
 font-family : "Arial", sans-serif;
 font-size: 12pt;  
 line-height: 175%;
 margin-left: 36px;
 margin-right: 36px;
 }

/* Sub Section 3 */
H6 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 text-align: left;
 font-family : "Arial", sans-serif;
 font-size: 12pt;  
 line-height: 175%;
 margin-left: 24px;
 margin-right: 36px;
 }

p.sub { 
 color: black;
 font-size: 14pt;
 text-align: center;
 font-family: "Georgia", serif;
 font-weight: bold;
 line-height: 135%;
 text-indent: 0em;
 margin-right: 6%;
 margin-left: 6% 
 }

/* ~~~~~~~ Footnotes ~~~~~~~~~~~~~~~~~~ */
/* Author's */

sup.anote {
 background: transparent;
 color: #330000; 
 font-family : "Georgia", serif;
 font-size: x-small;
 font-weight: bold;
 text-decoration: none;
 }
 
sup {
 font-family : "verdana"; 
 font-size: 11pt;
 font-weight: normal;
 }
 

/* Editor's */

sup.ednote {
 background: transparent;
 color: #330000; 
 font-family : "Courier New", monospace;
 font-size: x-small;
 font-weight: normal;
 text-decoration: none;
 }

sup.enote {
 background: transparent;
 color: #003300; 
 font-family : "arial", monospace;
 font-size: 10pt;
 font-weight: normal;
 text-decoration: none;
 }

/* Editorial notes in text */
span.inote {
 background: transparent;
 color: #666666; 
 font-size: 12pt;
 font-weight: normal;
 }

/* endnotes (footnotes) */
 
p.endnote
 { 
 text-indent: 0em;
 font-size: 11pt;
 line-height: 115%;
 text-align: justify;
 margin-left: 10%;
 margin-right: 10%;
}

span.info {
 background: transparent;
 color: #330000; 
 font-family: "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
}

span.note {
 color: #000033; 
 font-size: 10pt;
 font-weight: normal;
 vertical-align: top;
 }


span.date {
 background: transparent;
 color: #333333;
 font-family: "Arial", sans-serif;
 font-size: small;
 font-weight: normal;
 }

span.term {
 background: transparent;
 color: #330000; 
 font-family : "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
}

/* abstracts */

span.context {  background: transparent; color: #999999 }

/*Greek text */

span.greek { font-family: symbol }


/* Basic p -- without first line indent */

p.fst {
 text-indent: 0em;
 }
/* Standard Quote */

p.quote { 
 font-size: 10pt;
 line-height: 125%;
 margin-left: 12%;
 margin-right: 12%;
}


/* Quote without first line indent */
p.quoteb { 
 text-indent: 0em;
 font-size: 10pt;
 margin-left: 12%;
 margin-right: 12%;
}

/* Sub Quote C (increased margin) */

p.quotec { 
 text-indent: 0em;
 font-size: 10pt;
 margin-left: 16%;
 margin-right: 12%;
}

/* Negative indent for number list */

p.quote-list { 
 text-indent: -1em;
 font-size: 10pt;
 margin-left: 14%;
 margin-right: 12%;
}

/* Citation (Quote citied) */

p.inline {
 color: #666666; 
 text-indent: 0em;
 font-family : "Arial", sans-serif;
 font-size: x-small;
 text-align: right;
 margin-left: 20%;
 margin-right: 8%;
 }

/* Table of Contents */
p.toc {
 color: #330000; 
 text-indent: 0em;
 font-weight: bold;
 font-family : "Helvetica", "Arial", sans-serif;
 text-align: left;
}

/* Basic Index */
p.index { 
 text-indent: 0em;
 font-family : "Helvetica", "Arial", sans-serif;
 font-weight: bold;
 text-align: left;
 line-height: 200%;
}

/*----------------------------------*/

/* Table elements 					*/

/*----------------------------------*/

table.data {
 background: #eeeeee;
 font-family: "Georgia", monospace;
 font-size: 10pt;
 }



/* Column Headings */ 

td.head {
 background: #999999;
 font-weight: bold;
 text-align: center;
 font-family: "Georgia", serif;
 font-size: 12pt;
 }



/* Row Colors */

tr.alt { background: #cccccc; }
tr.total { background: #ffcccc; }
tr.totalb { background: #ff9999; }


td.index {
 background: #efefef;
 color: #999999; 
 text-indent: 0em;
 font-family : "Helvetica", "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 }

 

/* Every alternate row */

td.index-alt {
 background: #ffffff;
 color: #999999; 
 text-indent: 0em;
 font-family : "Helvetica", "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 }

/* Sub-Chapters */
td.indexb {
 background: #ffffff;
 color: #999999; 
 text-indent: 0em;
 font-family : "Helvetica", "Arial", sans-serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: left;
 }
td.note {
 background: #ffffff;
 color: #444444; 
 font-family : "Arial", sans-serif;
 font-size: small;
 vertical-align: top;
 text-align: justify;
 line-height: 115%;
 margin-left: 10%;
 margin-right: 10%;
 }

/* Standard Indent */
p.indent { 
 margin-left: 12%;
 margin-right: 12%;
}

/* Indent without first line indent */
p.indentb { 
 text-indent: 0em;
 margin-left: 12%;
 margin-right: 12%;
}

/* Sub Indent C (increased margin) */
p.indentc { 
 text-indent: 0em;
 margin-left: 16%;
 margin-right: 12%;
}
/* Negative indent for number list */

p.indent-list { 
 text-indent: -1em;
 text-align: left;
 margin-left: 12%;
 margin-right: 12%;
}

ul.disc { 
 font-family: "Georgia", serif;
 font-size: 12pt;
 list-style-type: disc; 
 text-align: left;
 line-height: 130%;
 margin-left: 6%;
 margin-right: 6%;
}

ol.numbered { 
 font-family: "Georgia", serif;
 font-size: 12pt;
 list-style-type: decimal; 
 text-align: left;
 line-height: 130%;
 margin-left: 6%;
 margin-right: 6%;
}

  

sup {
 font-family : "Arial", monospace;
 font-size: x-small;
 font-weight: normal;
 }

 

sub {
 font-family : "Arial", monospace;
 font-size: x-small;
 font-weight: normal;
 }


/* Bibliographical */

p.information { 
 color: #330000; 
 text-indent: 0em; 
 line-height: 125%;
 text-align: left;
 }

/* Signature */
p.sig {  
 text-indent: 0em; 
 font-family : "Times New Roman", script, serif;
 font-style: italic;
 text-align: left; 
 }


 

/* Misc page note */

p.pagenote {
 color: #330000; 
 font-family : "Arial", sans-serif;
 font-size: x-small;
 text-align: center;
 }

/* Misc page note (justified) */

p.pagenoteb {
 color: #666666; 
 font-family : "Arial", sans-serif;
 font-size: x-small;
 }

 

/* For blank spaces */

p.skip { line-height: 75% }

 
p.next { 
 text-indent: 0em;
 font-family : "Arial", sans-serif;
 font-weight: bold;
 text-align: center;
 }

 

/* Page bottom links */

p.footer {  
 font-size: 12pt;
 text-indent: 0em; 
 font-weight: bold;
 font-family : "Arial", sans-serif;
 text-align: center; 
 }

p.updat { 
 color: #ffcc00;
 text-indent: 0em;
 font-weight: bold;
 text-align: right;
 margin: 1%;
 font-family : "Arial", sans-serif;
 font-size: 9pt;  
 }

/* =====================================*/
/* Adjustments for Mobile Devices       */
/* =====================================*/

@media (max-width: 480px) {
  p { font-size: 12pt; margin-left: 1%; margin-right: 1%; margin-bottom: 4pt; margin-top: 4pt; line-height: 125%; }
  blockquote {margin-left: 1%; margin-right: 1%; }
  p.title { font-size: 11pt; }
  p.indentb { margin-left: 6%; margin-right: 1%; }
  p.quoteb { margin-left: 6%; margin-right: 1%; }
  p.index { margin-left: 6%; margin-right: 1%; }
  h1 { font-size: 16pt; margin-left: 1%; margin-right: 1%; }
  h2 { font-size: 15pt; margin-left: 1%; margin-right: 1%; }
  h3 { font-size: 14pt; margin-left: 1%; margin-right: 1%; }
  h4 { font-size: 13pt; }
  h5 { margin-left: 1%; }
  h6 { margin-left: 1%; }
  img { width: 150px; height: auto; }
  img.auto {width: auto ; height: auto; }
  div.border { width: 95%; padding: 0.5em; border: 0.2em solid #ffcc33; }
}
